<h1 id="tableLabel" *ngIf="randomItem; else id_item" class="display-4 pt-2 pb-2">Hacker News SINGLE (random) STORY ITEM</h1>
<ng-template #id_item>
  <h1 id="tableLabel" class="display-4 pt-2 pb-2">Hacker News SINGLE STORY ITEM</h1>
</ng-template>

<app-info-paragraph></app-info-paragraph>

<app-table-loading *ngIf="isLoading"></app-table-loading>

<table *ngIf="!isLoading"
    class="table table-responsive table-striped table-striped-columns table-hover align-middle"
    aria-labelledby="tableLabel" >
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Type</th>
      <th scope="col">By</th>
      <th scope="col">Time</th>
      <th scope="col">Title</th>
      <th scope="col">Text</th>
    </tr>
  </thead>
  <tbody>
    <tr scope="row">
      <td>{{ story.id }}</td>
      <td>{{ story.type }}</td>
      <td>{{ story.by }}</td>
      <td>{{ story.time | dateFromUnix }}</td>
      <td *ngIf="story.url; else title_only_cell">
        <a href="{{story.url}}" target="_blank">{{ story.title }}</a>
      </td>
      <ng-template #title_only_cell>
        <td>{{ story.title }}</td>
      </ng-template>
      <td>{{ story.text }}</td>
    </tr>
  </tbody>
</table>
